a, p, button {
  font-family: 'Roboto'
}
div, h1 {
  font-family: 'PT Serif'
}
body {
 margin: 0;
}
.wrapper {
  margin: auto;
  width: 80%;
  border: dashed 1px red;
}
.logo {
 margin-right: 63%;
 padding: 40px 0;
 border: dashed 1px red;
}
.header {
 display: flex;
  justify-content: space-between;
  border: dashed 1px red;
}
.menu {
 display: flex;
 align-items: center;
 border: dashed 1px red;
}
.menu__item {
 padding: 0 13px;
 border: dashed 1px red;
}
.menu__item:last-child {
 padding-right: 0;
}
